@model Product

<h1 class="pb-3">Delete Product</h1>

<form method="post" class="border border-primary rounded p-4 bg-dark">
    <label asp-for="Title" class="text-light pb-2"></label>
    <input asp-for="Title" disabled class="form-control rounded shadow-none"/>
    <input asp-for="Title" hidden />
    <br/>
    <label asp-for="Description" class="text-light pb-2"></label>
    <input asp-for="Description" disabled class="form-control rounded shadow-none"/>
    <input asp-for="Description" hidden />
    <br/>
    <label asp-for="Author" class="text-light pb-2"></label>
    <input asp-for="Author" disabled class="form-control rounded shadow-none"/>
    <input asp-for="Author" hidden />
    <br/>
    <label asp-for="ISBN" class="text-light pb-2"></label>
    <input asp-for="ISBN" disabled class="form-control rounded shadow-none"/>
    <input asp-for="ISBN" hidden />
    <br/>
    <label asp-for="ListPrice" class="text-light pb-2"></label>
    <input asp-for="ListPrice" disabled class="form-control rounded shadow-none"/>
    <input asp-for="ListPrice" hidden />
    <br/>
    <label asp-for="Price" class="text-light pb-2"></label>
    <input asp-for="Price" disabled class="form-control rounded shadow-none"/>
    <input asp-for="Price" hidden />
    <br/>
    <label asp-for="Price50" class="text-light pb-2"></label>
    <input asp-for="Price50" disabled class="form-control rounded shadow-none"/>
    <input asp-for="Price50" hidden />
    <br/>
    <label asp-for="Price100" class="text-light pb-2"></label>
    <input asp-for="Price100" disabled class="form-control rounded shadow-none"/>
    <input asp-for="Price100" hidden />
    <br/>
    <button type="submit" class="btn btn-danger mt-3">Delete Product</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary mt-3">Back to Products</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}